body
{
    font-family: 'Helvetica', Sans-Serif;
    color: #444444;
    font-size: 9pt;
    background-color: #FAFAFA;
}
h1 {
    color: #00a800; /* Il colore dell'intestazione */
    font-size: 24px; /* La dimensione del font dell'intestazione */
}
@keyframes color-change {
    0% {
      color: rgb(38, 38, 171);
    }

    50% {
      color: rgb(238, 83, 83);
    }

    100% {
      color: rgb(63, 13, 74);
    }
  }

  h1:hover {
    animation: color-change 3s infinite;
  }
